<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home AR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card routerLink="/ar/trex">
    <ion-card-header>
      <ion-card-title>Ver T-Rex</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Apunta al marcador Hiro y verás un T-Rex.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/ar/cube">
    <ion-card-header>
      <ion-card-title>Ver Cubo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Apunta al marcador Hiro y verás un cubo verde.
    </ion-card-content>
  </ion-card>

</ion-content>
